In [2]:
import pandas as pd
import numpy as np

In [3]:
df_trades = pd.read_csv("Dyadic_COW_4.0.csv", encoding="latin1")

In [24]:
df_trades.head()

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,smoothflow1,smoothflow2,smoothtotrade,...,dip2,trdspike,tradedip,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,source1,source2,version
0,2,20,1920,United States of America,Canada,611.85999,735.47998,611.85999,735.47998,1347.34000,...,0,0,0,-9.0,-9.0,-9.0,-9.0,1.0,1.0,4
1,2,20,1921,United States of America,Canada,335.44000,442.98999,335.44000,442.98999,778.42999,...,0,0,0,-9.0,-9.0,-9.0,-9.0,1.0,1.0,4
2,2,20,1922,United States of America,Canada,364.01999,502.84000,364.01999,502.84000,866.85999,...,0,0,0,-9.0,-9.0,-9.0,-9.0,1.0,1.0,4
3,2,20,1923,United States of America,Canada,416.00000,598.14001,416.00000,598.14001,1014.14000,...,0,0,0,-9.0,-9.0,-9.0,-9.0,1.0,1.0,4
4,2,20,1924,United States of America,Canada,399.14001,496.32001,399.14001,496.32001,895.46002,...,0,0,0,-9.0,-9.0,-9.0,-9.0,1.0,1.0,4

In [23]:
len(df_trades[(df_trades["flow1"] == 0) | (df_trades["flow2"] == 0)])

299527

In [17]:
countries1 = df_trades["importer1"].unique()
dicti = {}
for state in countries1:
    countries2 = df_trades[df_trades["importer1"]==state]["importer2"].unique()
    dicti[state] = len(countries2)
dicti = dict(sorted(dicti.items(), key=lambda item: item[1], reverse=True))
for i in dicti:
    print(i, dicti[i])

United States of America 206
Haiti 202
Canada 200
Cuba 200
Bahamas 198
Dominican Republic 198
Jamaica 195
Trinidad and Tobago 194
Barbados 192
Mexico 191
Dominica 190
Grenada 190
Guatemala 189
St. Lucia 188
St. Vincent and the Grenadines 187
Antigua & Barbuda 186
St. Kitts and Nevis 185
Honduras 185
El Salvador 184
Belize 183
Nicaragua 183
Colombia 183
Venezuela 182
Costa Rica 180
Panama 179
Ecuador 179
Peru 178
Brazil 177
Bolivia 176
Guyana 175
Paraguay 175
Suriname 174
Chile 174
Argentina 173
United Kingdom 171
Uruguay 169
Netherlands 169
Belgium 168
France 166
Ireland 165
Switzerland 163
Luxembourg 162
Spain 162
Portugal 160
Liechtenstein 157
Germany 156
Monaco 153
Poland 152
Austria 150
Andorra 149
Hungary 149
Italy 146
Czech Republic 143
Malta 143
Slovakia 142
Albania 142
San Marino 140
Yugoslavia 139
Montenegro 137
Macedonia 136
Czechoslovakia 135
Croatia 135
Greece 135
Bosnia and Herzegovina 133
Cyprus 133
Kosovo 132
Bulgaria 132
Slovenia 131
Romania 131
Russia 130
Moldova 127
Estonia 125
Latvia 124
Lithuania 123
Ukraine 121
German Federal Republic 120
Belarus 120
Finland 120
Sweden 120
German Democratic Republic 119
Armenia 119
Norway 119
Georgia 118
Denmark 118
Azerbaijan 117
Iceland 116
Cape Verde 114
Sao Tome and Principe 113
Guinea-Bissau 112
Equatorial Guinea 111
Gambia 110
Mali 110
Senegal 109
Benin 108
Mauritania 107
Niger 106
Ivory Coast 105
Guinea 104
Burkina Faso 103
Liberia 102
Sierra Leone 101
Ghana 100
Togo 99
Cameroon 98
Nigeria 97
Gabon 96
Central African Republic 95
Chad 94
Congo 93
Democratic Republic of the Congo 92
Uganda 91
Kenya 90
Tanzania 89
Burundi 87
Rwanda 86
Somalia 85
Ethiopia 84
Djibouti 83
Angola 81
Mozambique 80
Eritrea 79
Zambia 79
Zimbabwe 78
Malawi 77
South Africa 76
Namibia 74
Lesotho 74
Botswana 73
Swaziland 72
Madagascar 71
Comoros 70
Mauritius 69
Morocco 68
Seychelles 67
Algeria 66
Tunisia 65
Libya 64
Sudan 63
Iran 62
Turkey 61
South Sudan 59
Iraq 59
Egypt 58
Syria 57
Lebanon 56
Jordan 55
Israel 54
Saudi Arabia 53
Yemen 50
Kuwait 49
Bahrain 48
Qatar 47
Zanzibar 46
United Arab Emirates 46
Oman 45
Afghanistan 44
Turkmenistan 42
Tajikistan 41
Kyrgyzstan 40
Yemen Arab Republic 39
Uzbekistan 39
China 39
Kazakhstan 38
Yemen People's Republic 37
Mongolia 37
Taiwan 36
North Korea 35
South Korea 34
Japan 33
India 32
Bhutan 31
Pakistan 30
Bangladesh 29
Myanmar 28
Sri Lanka 27
Austria-Hungary 26
Maldives 26
Nepal 25
Thailand 24
Cambodia 23
Laos 22
Vietnam 21
Malaysia 19
Singapore 18
Brunei 17
Bavaria 16
Philippines 16
Indonesia 15
Baden 14
East Timor 14
Wuerttemburg 13
Australia 13
Papua New Guinea 12
New Zealand 11
Vanuatu 10
Solomon Islands 9
Republic of Vietnam 8
Kiribati 8
Tuvalu 7
Fiji 6
Tonga 5
Nauru 4
Marshall Islands 3
Korea 2
Palau 2
Federated States of Micronesia 1

In [ ]:
countries4 = df_trades["importer2"].unique()
dicti2 = {}
for state in countries4:
    countries3 = df_trades[df_trades["importer2"]==state]["importer1"].unique()
    dicti2[state] = len(countries3)

dicti2 = dict(sorted(dicti2.items(), key=lambda item: item[1], reverse=True))
for i in dicti2:
    print(i, dicti2[i])

Samoa 199
Fiji 194
Federated States of Micronesia 194
Marshall Islands 192
Palau 192
New Zealand 190
Solomon Islands 190
Nauru 190
Vanuatu 189
Tonga 189
Australia 188
Papua New Guinea 188
Tuvalu 187
Indonesia 186
Kiribati 186
Philippines 185
Malaysia 182
Singapore 182
Brunei 182
Vietnam 180
East Timor 180
Thailand 179
Laos 179
Cambodia 178
Nepal 176
Sri Lanka 174
Maldives 174
Japan 173
Myanmar 173
Pakistan 171
Bangladesh 171
India 169
Bhutan 169
China 167
South Korea 167
North Korea 166
Taiwan 165
Mongolia 164
Afghanistan 157
Kazakhstan 157
Uzbekistan 156
Oman 155
Kyrgyzstan 155
United Arab Emirates 154
Tajikistan 154
Qatar 153
Turkmenistan 153
Kuwait 152
Bahrain 152
Yemen 149
Saudi Arabia 148
Egypt 147
Israel 147
Jordan 146
Turkey 145
Lebanon 145
Iran 144
Syria 144
Iraq 142
Republic of Vietnam 142
Tunisia 140
Morocco 138
Sudan 138
Libya 137
Algeria 135
South Sudan 135
Seychelles 132
Mauritius 131
Madagascar 130
Comoros 130
Yemen Arab Republic 130
Swaziland 128
Yemen People's Republic 128
Botswana 127
Lesotho 126
South Africa 125
Namibia 125
Malawi 124
Zambia 122
Zimbabwe 122
Mozambique 120
Ethiopia 119
Angola 119
Somalia 116
Djibouti 116
Rwanda 115
Eritrea 115
Burundi 114
Tanzania 112
Kenya 111
Uganda 110
Democratic Republic of the Congo 109
Congo 108
Chad 107
Central African Republic 106
Gabon 105
Nigeria 104
Cameroon 103
Togo 102
Ghana 101
Sierra Leone 100
Liberia 99
Burkina Faso 98
Guinea 97
Ivory Coast 96
Niger 95
Mauritania 94
Benin 93
Senegal 92
Mali 91
Gambia 90
Equatorial Guinea 89
Denmark 88
Guinea-Bissau 88
Sao Tome and Principe 87
Sweden 86
Cape Verde 86
Iceland 85
Norway 84
Finland 82
Azerbaijan 78
Georgia 77
Russia 76
Armenia 76
Belarus 75
Zanzibar 75
Lithuania 74
Ukraine 74
Latvia 73
Romania 72
Estonia 72
Greece 71
Bulgaria 70
Cyprus 68
Moldova 68
Yugoslavia 64
Slovenia 64
Bosnia and Herzegovina 62
Kosovo 62
Italy 60
Albania 60
Croatia 60
Malta 58
Macedonia 58
Montenegro 57
San Marino 55
Hungary 53
Czechoslovakia 52
Slovakia 52
Austria 51
Czech Republic 51
Poland 50
Germany 48
German Democratic Republic 47
Portugal 46
German Federal Republic 46
Andorra 45
Spain 44
Switzerland 43
Liechtenstein 42
Monaco 41
Korea 41
France 40
Luxembourg 39
Belgium 38
Netherlands 37
Ireland 36
United Kingdom 35
Uruguay 34
Argentina 33
Chile 32
Paraguay 31
Austria-Hungary 31
Bolivia 30
Brazil 29
Peru 28
Ecuador 27
Suriname 26
Guyana 25
Venezuela 24
Colombia 23
Wuerttemburg 23
Panama 22
Baden 22
Costa Rica 21
Nicaragua 20
Bavaria 20
El Salvador 19
Honduras 18
Guatemala 17
Belize 16
Mexico 15
St. Kitts and Nevis 14
Antigua & Barbuda 13
St. Vincent and the Grenadines 12
St. Lucia 11
Grenada 10
Dominica 9
Barbados 8
Trinidad and Tobago 7
Jamaica 6
Dominican Republic 5
Haiti 4
Cuba 3
Bahamas 2
Canada 1

In [ ]:
for x in

In [6]:
national_trade = pd.read_csv("National_COW_4.0.csv", encoding="latin1")

In [18]:
len(df_trades)

886828